config/dev.yml
config/private.yml
config/final.yml
config/blobs.yml
releases/*.tgz
dev_releases
blobs
blobs/*
examples
examples/*
Rakefile
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
